[Unit]
Description=Domino's distributed currency daemon
After=network.target

[Service]
User=domino
Group=domino

Type=forking
PIDFile=/var/lib/dominod/dominod.pid

ExecStart=/usr/bin/dominod -daemon -pid=/var/lib/dominod/dominod.pid \
          -conf=/etc/domino/domino.conf -datadir=/var/lib/dominod

ExecStop=-/usr/bin/domino-cli -conf=/etc/domino/domino.conf \
         -datadir=/var/lib/dominod stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
